.layout {
  background-image: url(https://web-develop.virace.vn/static/media/login.31ffb97c.png);
  background-color: #01103d;
  min-height: 100vh;
  color: #aec1e4;
  line-height: 1.375;
  position: relative;
}