<div class="login">
  <div class="logo">
    <img
      src="https://web-develop.virace.vn/static/media/logo.7b93e016.svg"
      alt=""
    />
  </div>
  <div>
    <form action="" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <h1>{{ "change_password.name" | translate }}</h1>
      <div class="form-password">
        <div class="form-control">
          <div class="icon">
            <svg
              width="15"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"
              />
            </svg>
          </div>
          <input
            placeholder="{{ 'change_password.form.pass' | translate }}"
            name="password"
            formControlName="password"
          />
        </div>
        <div *ngIf="submitted && f.password.errors">
          <div class="server-error" *ngIf="f.password.errors.required">
            {{ "error_code.form.require" | translate }}
          </div>
        </div>
      </div>
      <div class="form-password">
        <div class="form-control">
          <div class="icon">
            <svg
              width="15"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
            >
              <path
                d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"
              />
            </svg>
          </div>
          <input
            placeholder="{{ 'change_password.form.confirm_pass' | translate }}"
            name="confirmPassword"
            formControlName="confirmPassword"
          />
        </div>
        <div *ngIf="submitted && f.confirmPassword.errors">
          <div class="server-error" *ngIf="f.confirmPassword.errors.required">
            {{ "error_code.form.require" | translate }}
          </div>
          <div class="server-error" *ngIf="f.confirmPassword.errors.mismatch">
            {{ "error_code.form.password-mismatch" | translate }}
          </div>
        </div>        
      </div>
      <div class="form-submit login-submit">
        <button
          loader_color="white"
          class="common-button w-100 btn btn-secondary"
        >
          <span>{{ "change_password.name" | translate }} </span>
        </button>
      </div>
    </form>
  </div>

  <div class="copyright">
    <p><a href="#">COPYRIGHT © 2024 VIRAC</a></p>
    <p class="">
      <a href="#"><span>{{ "confidentiality" | translate }}</span></a> |
      <a href="#"><span>{{ "disclaimer" | translate }}</span></a>
    </p>
  </div>
</div>
