<div class="login forgot">
  <div class="logo">
    <img
      src="https://web-develop.virace.vn/static/media/logo.7b93e016.svg"
      alt=""
    />
  </div>
  <div>
    <form action="" [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <h1>{{ "forgot_password.name" | translate }}</h1>
      <div class="note">
        {{ "forgot_password.content" | translate }}
      </div>
      <div>
        <div class="form-control">
          <div class="icon">
            <svg
              width="15"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"
              />
            </svg>
          </div>
          <input
            type="text"
            placeholder="{{ 'forgot_password.form.email' | translate }}"
            name="email"
            formControlName="email"
          />
        </div>
        <div *ngIf="submitted && f.email.errors">
          <div class="server-error" *ngIf="f.email.errors.required">
            {{ "error_code.form.require" | translate }}
          </div>
          <div class="server-error" *ngIf="f.email.errors.pattern">
            {{ "error_code.form.email-pattern" | translate }}
          </div>
        </div>
      </div>

      <div class="form-submit login-submit">
        <button
          loader_color="white"
          class="common-button w-100 btn btn-secondary"
        >
          <span>{{ "forgot_password.form.btn" | translate }} </span>
        </button>
      </div>
    </form>
  </div>

  <div class="copyright">
    <p><a href="#">COPYRIGHT © 2024 VIRAC</a></p>
    <p class="">
      <a href="#"><span>{{ "confidentiality" | translate }}</span></a> |
      <a href="#"><span>{{ "disclaimer" | translate }}</span></a>
    </p>
  </div>
</div>
